<!DOCTYPE html>
<html>
<head>
    <title>Flask Navigation Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
       <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    
        </div>
         
        <ul class="nav-links">
      
            <li><a href="{{ url_for('sorting_analyzer') }}">Sorting Analyzer</a></li>
            
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Signup</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

</body>
</html>
